// http://www.colourlovers.com/palette/932683/Compatible

.container {
    position:relative;
}

.wrap {
    margin:20px auto;
    width: 500px;
    height: 375px;
    border-radius:4px;
    overflow:hidden;
    background:lighten( #7FC7AF, 10% );
    border-top:1px solid lighten( #7FC7AF, 20% );
    box-shadow:0 0 10px darken( #3FB8AF, 8% );
    padding:10px;
}

.image {
    position:absolute;
}

.eye {
    position:absolute;
    opacity:0.8;
    border-radius:50%;
}

.title {
    font-family:sans-serif;
    font-size:48px;
    letter-spacing:0.2rem;
    font-weight:bold;
    text-shadow: 0 1px 0 #9FE7CF,
        0 2px 0 #8FD7BF,
        0 3px 0 #7FC7AF,
        0 6px 1px rgba(0,0,0,.1),
        0 20px 20px rgba(0,0,0,.15);
    margin:20px 0 30px;
    color:#fff;
    text-align:center;
}

.snootsBooped {
    padding:20px;
    color:#fff;
    text-shadow:0 0 2px #3F879F;
    width:500px;
    margin:0 auto;
}

.snoots {
    color:#AFF7DF;
}

.booped {
    font-size:22px;
}

.footer {
    height:60px;
    padding:20px;
    color:darken( #3FB8AF, 38% );
    background:#7FC7AF;
    box-shadow:0 -2px 8px darken( #3FB8AF, 8% );
    border-top:1px solid lighten( #7FC7AF, 20% );
}

.footed {
    width:500px;
    margin:0 auto;
}

.appWrap {
    height:100%;
}

.application {
    min-height:100%;
    margin-bottom: -100px;

    &:after {
        content: "";
        display: block;
    }
}
